# dépendances
node_modules/

# fichiers d'environnement secrets
.env

# cookies
cookies.txt

# logs
*.log
npm-debug.log*
yarn-debug.log*

# éditeur 
.vscode/
.DS_Store
Thumbs.db

# coverage 
coverage/
.nyc_output/

# fichiers temporaires 
*.seed
*.pid
*.pid.lock

# cache 
.cache/
